@font-face {
    font-family: 'Halo';
    src: URL('../../fonts/Halo.ttf') format('truetype');
  }

.imagePane{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    cursor: pointer;

    img{
        border-width: 1px;
        border-radius: 0.5rem;
    }

    p{
        margin: 0;
    }

    &:hover{
        color: purple;
    }
}