@font-face {
  font-family: 'Halo';
  src: URL('../../../fonts/Halo.ttf') format('truetype');
}


.page{
  position: relative;
  height: 100vh;
  z-index: 1;
}

.mainBackground{
  background-image: url("assets/path1.jpg");
  background-size: cover;
  height: 1200px;
  
}

.homeButton{
  top: 75%;
  left: 43%;
  z-index: 200 !important;
}

.matrix{
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

.centerContainer{
    position: absolute;
    z-index: 13;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gnomehand{
    width: 100%;
    height: auto;
    text-align: center;
}

.banner{
    position: absolute;
    z-index: 12;

    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
    margin-top: -1.5%;
}

.rightText{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    position: absolute;
    right: 5%;
    top: 20%;
    font-size: 2em;
    

    p{
        margin: 0em;
        animation: wave-text 1s ease-in-out infinite;
    }
}

.bottomText{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold;
  position: absolute;
  left: 2%;
  top: 80%;
  font-size: 2em;
  z-index: 10;
  

  p{
      margin: 0em;
      animation: wave-text 1s ease-in-out infinite;
  }
}

.gnomeContainer{
  display: flex;
  width: 600px;
  position: absolute;
  top: 100%;
  left: 40%;
  z-index: 1
}

.gnome{
  flex-basis: 30%
}

.gnomeSpeech{
  flex-basis: 70%;
  font-family: 'Halo';
  color: rgb(13, 255, 13);
  font-size: 2rem;

  p{
    margin: 0
  }
}

.divider{
  width: 100%;
  height: 83px;
  position: absolute;
  background-image: url('./assets/metalTop.gif');
  top: 120%;
  z-index: 0;
}

.drainIframe{
  width: 100%;
  height: 850px;
  border: 0;
}

.drain01{
  height: 0;
  overflow-x: 0;

  iframe {
    html{
      overflow-x: hidden;
    }
  }
}

@keyframes wave-text{
    00%{
      transform: translateY(0em);
    }
    60%{
      transform: translateY(-0.6em);
    }
    100%{
      transform: translateY(0em);
    }
  }
