.dock{
    position: absolute;
    bottom: 0%;
    left: 8%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
}

.dockItems{
    display: flex;
    padding: 5px;
    background: rgba(0, 0, 0, 0.15);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    align-items: flex-end;
}

.dockItem{
    //padding: 5px;
    height: auto;
    position: relative;

    img{
        cursor: pointer;
    }
}
